.circle-container {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-circle-bg);
  border: 3px solid var(--color-circle-border);
  box-shadow: 0 4px 8px var(--color-circle-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circle-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px var(--color-circle-shadow-hover);
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
